Repository KinsonDigital/VelaptorDocs, pull requests merged in 2023-08, with the labels that each got.

#95 📋Create API only release system
  .config/dotnet-tools.json
  .github/ISSUE_TEMPLATE/api-changes.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/other-changes.yml
  .github/ISSUE_TEMPLATE/tutorial-changes.yml
  .github/cicd/.vscode/settings.json
  .github/cicd/core/CloneRepoService.ts
  .github/cicd/core/CodeBlockService.ts
  .github/cicd/core/Console.ts
  .github/cicd/core/DefaultDocTool.ts
  .github/cicd/core/DeleteAPIVersionService.ts
  .github/cicd/core/Directory.ts
  .github/cicd/core/DocProcessor.ts
  .github/cicd/core/DotNetToolService.ts
  .github/cicd/core/File.ts
  .github/cicd/core/FileLoader.ts
  .github/cicd/core/Guard.ts
  .github/cicd/core/HTMLService.ts
  .github/cicd/core/IDotNetTool.ts
  .github/cicd/core/ITag.ts
  .github/cicd/core/MarkdownFileContentService.ts
  .github/cicd/core/MarkdownHeaderService.ts
  .github/cicd/core/MarkdownService.ts
  .github/cicd/core/Path.ts
  .github/cicd/core/UpdateWebsiteVersionService.ts
  .github/cicd/core/Utils.ts
  .github/cicd/core/ValidateReleaseService.ts
  .github/cicd/core/VersionSidebarService.ts
  .github/cicd/core/VersionsFileService.ts
  .github/cicd/core/Yarn.ts
  .github/cicd/core/chalk.ts
  .github/cicd/doc-process-scripts/ArgService.ts
  .github/cicd/doc-process-scripts/ChalkColor.ts
  .github/cicd/doc-process-scripts/Utils.ts
  .github/cicd/doc-process-scripts/ValidateReleaseService.ts
  .github/cicd/doc-process-scripts/main.ts
  .github/cicd/helpers/ChalkColor.ts
  .github/cicd/manual-testing/FlagService.ts
  .github/cicd/manual-testing/next-versioning.ts
  .github/cicd/manual-testing/testing-env.ts
  .github/cicd/scripts/delete-api-docs.ts
  .github/cicd/scripts/delete-oldest-api-docs.ts
  .github/cicd/scripts/generate-new-api-docs.ts
  .github/cicd/scripts/update-website-version.ts
  .github/cicd/scripts/velaptor-version-exists.ts
  .github/workflows/api-release.yml
  .github/workflows/prod-release.yml
  .github/workflows/update-get-version.yml
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  .vscode/workflow.code-snippets
  deno.json
  deno.lock
Labels: ♻️cicd, high priority, ⚙️config

#97 📜Update all guides related to v1.0.0-preview.24 changes
  .github/workflows/api-release.yml
  README.md
  docs/tutorials/guides/hello-velaptor.mdx
  docs/tutorials/guides/keyboard-input.mdx
  docs/tutorials/guides/mouse-input.mdx
  docs/tutorials/guides/project-setup.mdx
  docs/tutorials/guides/rendering-atlas-textures.mdx
  docs/tutorials/guides/rendering-textures.mdx
  docs/tutorials/guides/sounds.mdx
  package.json
  src/components/TutorialLink.tsx
  versioned_docs/version-1.0.0-preview.19/tutorials/guides/hello-velaptor.mdx
  versioned_docs/version-1.0.0-preview.19/tutorials/guides/rendering-atlas-textures.mdx
  versioned_docs/version-1.0.0-preview.19/tutorials/guides/rendering-textures.mdx
  versioned_docs/version-1.0.0-preview.20/tutorials/guides/hello-velaptor.mdx
  versioned_docs/version-1.0.0-preview.20/tutorials/guides/mouse-input.mdx
  versioned_docs/version-1.0.0-preview.20/tutorials/guides/project-setup.mdx
  versioned_docs/version-1.0.0-preview.20/tutorials/guides/rendering-atlas-textures.mdx
  versioned_docs/version-1.0.0-preview.20/tutorials/guides/rendering-textures.mdx
  versioned_docs/version-1.0.0-preview.20/tutorials/guides/sounds.mdx
  versioned_docs/version-1.0.0-preview.21/tutorials/guides/hello-velaptor.mdx
  versioned_docs/version-1.0.0-preview.21/tutorials/guides/keyboard-input.mdx
  versioned_docs/version-1.0.0-preview.21/tutorials/guides/mouse-input.mdx
  versioned_docs/version-1.0.0-preview.21/tutorials/guides/project-setup.mdx
  versioned_docs/version-1.0.0-preview.21/tutorials/guides/rendering-atlas-textures.mdx
  versioned_docs/version-1.0.0-preview.21/tutorials/guides/rendering-textures.mdx
  versioned_docs/version-1.0.0-preview.21/tutorials/guides/sounds.mdx
  versioned_docs/version-1.0.0-preview.22/tutorials/guides/hello-velaptor.mdx
  versioned_docs/version-1.0.0-preview.22/tutorials/guides/keyboard-input.mdx
  versioned_docs/version-1.0.0-preview.22/tutorials/guides/mouse-input.mdx
  versioned_docs/version-1.0.0-preview.22/tutorials/guides/project-setup.mdx
  versioned_docs/version-1.0.0-preview.22/tutorials/guides/rendering-atlas-textures.mdx
  versioned_docs/version-1.0.0-preview.22/tutorials/guides/rendering-textures.mdx
  versioned_docs/version-1.0.0-preview.22/tutorials/guides/sounds.mdx
  versioned_docs/version-1.0.0-preview.23/tutorials/guides/hello-velaptor.mdx
  versioned_docs/version-1.0.0-preview.23/tutorials/guides/keyboard-input.mdx
  versioned_docs/version-1.0.0-preview.23/tutorials/guides/mouse-input.mdx
  versioned_docs/version-1.0.0-preview.23/tutorials/guides/project-setup.mdx
  versioned_docs/version-1.0.0-preview.23/tutorials/guides/rendering-atlas-textures.mdx
  versioned_docs/version-1.0.0-preview.23/tutorials/guides/rendering-textures.mdx
  versioned_docs/version-1.0.0-preview.23/tutorials/guides/sounds.mdx
Labels: 📜tutorial doc changes

#103 📋Adjust workflow trigger
  .github/workflows/add-new-item-to-project.yml
  .github/workflows/build-status-check.yml
  .github/workflows/feature-branch-status-check.yml
  .github/workflows/sync-bot.yml
  .github/workflows/sync-issue-to-pr.yml
  .github/workflows/sync-pr-to-issue.yml
  .github/workflows/sync-status-check.yml
Labels: ♻️cicd, high priority

#104 📋Update twitter links
  .vscode/settings.json
  docs/tutorials/intro.mdx
  docusaurus.config.js
  versioned_docs/version-1.0.0-preview.19/tutorials/intro.mdx
  versioned_docs/version-1.0.0-preview.20/tutorials/intro.mdx
  versioned_docs/version-1.0.0-preview.21/tutorials/intro.mdx
  versioned_docs/version-1.0.0-preview.22/tutorials/intro.mdx
  versioned_docs/version-1.0.0-preview.23/tutorials/intro.mdx
Labels: medium priority, 📜tutorial doc changes
