Repository KinsonDigital/VelaptorDocs, pull requests merged in 2024-12, with the labels that each got.

#324 ⚙️Remove config comments from config files
  docusaurus.config.ts
  sidebars.ts
Labels: low-priority, ⚙️config, 🍺hacktoberfest-easy

#319 📜Add info about showing status window
  docs/guides/guides/rendering-textures.mdx
Labels: high-priority, 📜guide-doc-changes

#338 🏗️Fix issues with api release workflow
  .github/workflows/api-release.yml
  .github/workflows/sync-pr-to-issue.yml
  .vscode/settings.json
  VelaptorDocs.code-workspace
Labels: cicd, high-priority
